.sceneContainer {
    height: 100svh;
    width: 100%;
}

.scene {
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
}

#scene1 {
    background-image: url("images/pinkclouds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene2 { 
    background-image: url("images/sky.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene3 { 
    background-image: url("images/greenclouds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene4 { 
    background-image: url("images/purplesclouds.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene5 { 
    background-image: url("images/orangeclouds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene6 { 
    background-image: url("images/cloud.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#star {
    position: fixed;
    top: 50%;
    left: 50%;
    width: clamp(120px, 25vw, 250px);
    transform: translate(-50%, -50%);
    z-index: 999;
}


.bird {
    position: absolute;
    left: 10vh;
    top: -80vh;
    width: clamp(50px, 10vw, 100px);
}

.stars {
    position: absolute;
    left: 70%;
    top: 20%;
    transform: translateY(-130%);
    width: 300px;
    z-index: 10;
}

.bird2 {
    position: absolute;
    right: 10vh;
    top: 70vh;
    width: clamp(50px, 10vw, 100px);
}

.bird3 {
    position: absolute;
    right: 30vh;
    top: 120vh;
    width: clamp(50px, 10vw, 100px);
}

.bird4 {
    position: absolute;
    left: 30vh;
    top: 250vh;
    width: clamp(50px, 10vw, 100px);
}

.bird5 {
    position: absolute;
    right: 12vh;
    top: 350vh;
    width: clamp(50px, 10vw, 100px);
}

.bird6 {
    position: absolute;
    left: 23vh;
    top: 470vh;
    width: clamp(50px, 10vw, 100px);
}