.sceneContainer {
    height: 100svh;
    width: 100%;
}

.scene {
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
}

#scene1 {
    background-image: url("images/pinkclouds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene2 { 
    background-image: url("images/sky.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene3 { 
    background-image: url("images/greenclouds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene4 { 
    background-image: url("images/purplesclouds.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene5 { 
    background-image: url("images/orangeclouds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene6 { 
    background-image: url("images/cloud.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes flyLeft {
    from {
        transform: translateX(-20vw) scale(1.2);
        opacity: 0.6;
    }
    to {
        transform: translateX(120vw) scale(0.6);
        opacity: 1;
    }
}

@keyframes flyRight {
    from {
        transform: translateX(120vw) scale(1.2);
        opacity: 1;
    }
    to {
        transform: translateX(-20vw) scale(0.6);
        opacity: 0.6;
    }
}

#star {
    position: fixed;
    top: 50%;
    left: 50%;
    width: clamp(120px, 25vw, 250px);
    transform: translate(-50%, -50%);
    z-index: 999;
}

.stars {
    position: absolute;
    left: 70%;
    top: 20%;
    transform: translateY(-130%);
    width: 300px;
    z-index: 10;
}



.bird {
    position: absolute;
    left: 10vh;
    top: -80vh;
    width: clamp(50px, 10vw, 100px);
    animation: flyLeft 12s linear infinite;
    animation-delay: 0s;
}

.bird2 {
    position: absolute;
    top: 70vh;
    width: clamp(50px, 10vw, 100px);
    animation: flyRight 12s linear infinite;
    animation-delay: 1s;
}

.bird3 {
    position: absolute;
    top: 120vh;
    width: clamp(50px, 10vw, 100px);
    animation: flyLeft 12s linear infinite;
    animation-delay: 2s;
}

.bird4 {
    position: absolute;
    top: 250vh;
    width: clamp(50px, 10vw, 100px);
    animation: flyLeft 12s linear infinite;
    animation-delay: 3s;
}

.bird5 {
    position: absolute;
    top: 350vh;
    width: clamp(50px, 10vw, 100px);
    animation: flyRight 12s linear infinite;
    animation-delay: 4s;
}

.bird6 {
    position: absolute;
    top: 470vh;
    width: clamp(50px, 10vw, 100px);
    animation: flyLeft 12s linear infinite;
    animation-delay: 5s;
}